* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

body {
    overflow-x: hidden;
}

.bg {
    background-image: url('/assets/Vector.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    height: 75vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

.bgb {
    background-image: url('/assets/bgb.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    height: 12vh;
}

.bgcolor.scrolled {
    background: white;
    border-bottom: 1px solid rgba(100, 100, 100, 0.25);
    transition: .8s;
}

.content {
    margin-top: 10%;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #388440;
}

.subcontent {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #17b578;
}

.btn-success,
.btn-success:hover {
    border-radius: 40px;
    background: #24B7E9;
    border-color: #24B7E9;
    font-weight: 500;
}

#banner {
    border-radius: 40px;
}

.nav-link {
    color: #618665;
    font-family: 'Montserrat', sans-serif;
    margin-left: 60px;
}

.nav-link:hover {
    font-weight: 500;
}

.textb {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #2F9D44;
}

.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext {
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.tagtitle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#hbg {
    background: rgba(36, 183, 233, 0.15);
    margin-top: 90px;
}

#myCarousel {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #848484;
    text-align: center;
    padding-bottom: 20px;
}

#servimg {
    width: 503px;
    height: 335px;
}

.sertext {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #2F9D44;
}

.sersub {
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.doctor,
.form-select {
    width: 300px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    border-color: rgba(56, 132, 64, 1);
}

.accordion-button,
.accordion-button:focus {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-color: rgba(56, 132, 64, 1);
    box-shadow: none;
}

.accordion-item {
    border-color: rgba(56, 132, 64, 1);
    border-width: 2px;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(36, 183, 233, 0.15);
}

#hbgfooter {
    background-image: url('/assets/Vector 10.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 40vh;
}

.bookp {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: -60px;
}

.subp {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: rgba(80, 80, 80, 1);
}

#doctor-card,
.border {
    border-radius: 20px;
    border-color: black;
    width: 1100px;
    height: 250px;
    background: white;
    padding-bottom: 20px;
}

.ctitle {
    font-size: 35px;
    font-weight: 700;
    color: rgba(75, 80, 109, 1);
}

.csub {
    font-size: 24px;
    font-weight: 400;
    color: rgba(75, 80, 109, 1);
}

.ava {
    font-size: 20px;
    font-weight: 700;
    color: rgba(75, 80, 109, 1);
}

.infos {
    font-size: 14px;
    font-weight: 400;
    color: rgba(75, 80, 109, 1);
}

.modal-title {
    color: rgba(75, 80, 109, 1);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.btn-close {
    display: none
}

.otp-form {
    width: 300px;
    height: 35px;
    text-align: center;
}


/*test*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));
    border-radius: 5px;
    text-align: center;
    width: 1700px;
    overflow: hidden;
    overflow-y: auto;
    color: rgba(75, 80, 109, 1);
}

.grid-container2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));
    border-radius: 8px;
    text-align: center;
    width: 1700px;
    color: rgba(75, 80, 109, 1);
}


/*
.doctor-flexbox-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.doctor-flexbox-container::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

.doctor-flexbox-container::-webkit-scrollbar-thumb {
    background-color: #0ae;
    border-radius: 5px;
}*/

.doctor-flexbox-container {
    position: relative;
    flex-direction: row;
    border: 1px solid #24B7E9;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    height: 250px;
}

.doctor-flexbox-container2 {
    position: relative;
    flex-direction: row;
    border: 1px solid #24B7E9;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    height: 260px;
}

.doctor-flexbox-view:hover {
    color: #388440;
    cursor: pointer;
}

.doctor-flexbox-Info {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.doctor-flexbox-view {
    margin-top: 10%;
    text-align: center;
    font-weight: bolder;
}

.doctor-flexbox-Info .Lname {
    font-weight: bold;
    font-size: 1.3rem;
}

.doctor-flexbox-Info .Fname {
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.doctor-flexbox-Info {
    inline-size: max-content;
}

.HMO_choosedoctor {
    position: absolute;
    left: 55%;
    top: 35%;
}

.HMO_choosedoctor .HMO_Head {
    font-weight: 600;
    color: #388440;
    font-size: 1rem;
}

.doctor-flexbox-Info .specialization,
.HMO_Accreditation {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.doctor-flexbox-Info .HMO_Accreditation .HMO_Head {
    font-weight: 600;
    color: #388440;
    font-size: 1rem;
}

.doctor-flexbox-Avail {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 60%;
    color: #388440;
}

.doctor-flexbox-Avail>div {
    text-align: center;
}

.doctor-flexbox-Avail .header {
    margin-bottom: 10px;
    font-weight: bold;
}

.sched {
    font-weight: 600;
    font-size: 0.7rem;
}

.appointment-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#test {
    margin-left: -24.5%;
}

#picture {
    margin-left: 90px;
    padding-left: 45px;
    padding-top: 80px;
    width: 150px;
    height: 180px;
    background: url(icon.png);
    background-size: 150px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.style1 {
    padding-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: rotate(-0.1deg);
}

#border0 {
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

#border1 {
    background: #FFFFFF;
    border: 1px solid #2F9D44;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 160px;
    height: 90px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
}

#border2 {
    background: #FFFFFF;
    border: 1px solid #2F9D44;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 160px;
    height: 90px;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    padding-top: 15px;
}

#border3 {
    background: #FFFFFF;
    border: 1px solid #2F9D44;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 160px;
    height: 90px;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
}

#checkselect:checked {
    background-color: #2F9D44;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    margin: 6px;
}

.card {
    width: 600px;
    height: 380px;
    border-radius: 30px;
}

.pointer {
    cursor: pointer;
}

#otpError {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.progresses {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barline {
    width: 330px;
    height: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.barsteps {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.bgheader {
    background-image: url("/assets/headerwave.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    height: 10vh;
}

.bgfooter {
    background-image: url("/assets/footerwave.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 10vh;
}

.empty {
    margin-bottom: 47.5%;
}

#patientQueue {
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.7);
    margin-top: 5.5%;
    border-radius: 8px;
    width: auto;
    height: 47%;
    padding: 10px;
    padding: 10% 5% 0 5%;
}

#applist {
    box-sizing: border-box;
    width: 1050px;
    height: 550px;
    left: 341px;
    top: 411px;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    overflow-y: scroll
}

.trackercard {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 931px;
    height: 150px;
}

.optionstag {
    flex: content;
    font-weight: 700;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}

.formyself {
    background: #ECECEC;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 360px;
    height: 50px;
}

.forothers {
    background: #ECECEC;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 360px;
    height: 50px;
}

.formyself:hover {
    background: #ECECEC;
    border: 1px solid #000000;
}

.forothers:hover {
    background: rgba(202, 255, 207, 0.5);
    border: 1px solid #2F9D44;
    color: #388440;
}

.formyself:hover {
    background: rgba(202, 255, 207, 0.5);
    border: 1px solid #2F9D44;
    color: #388440;
}

#bookingchoice2:checked+label {
    width: 380px;
    height: 60px;
    background: rgba(202, 255, 207, 0.5);
    border: 1px solid #2F9D44;
    color: #388440;
    font-weight: 600
}

#bookingchoice2 {
    display: none;
}

#bookingchoice1:checked+label {
    width: 380px;
    height: 60px;
    background: rgba(202, 255, 207, 0.5);
    border: 1px solid #2F9D44;
    color: #388440;
    font-weight: 600
}

#bookingchoice1 {
    display: none;
}