<section id="ourbest">
    <div class="container ">
        <div class="row pt-4  ">
            <div class="col-md-6 m-auto mt-5 mb-5  ">
                <img src="/assets/BANNER.jpg" alt="" img class="img-fluid" id="banner">
            </div>
            <div class="col-md-5 m-auto pt-5 mb-5  ">
                <p class="textb">Only our best,<br> to make you feel better</p>
                <p class="subtext">Making you feel better is our commitment. We take pride in our team of dedicated and compassionate doctors and medical staff who are ready to assist you with your medical needs</p>
            </div>
        </div>
    </div>
</section>

<section id="howto">
    <div class="container pb-5"></div>
    <div class="container-fluid pb-4 mb-5" id="hbg">
        <div class="row p-4 mb-4 ">
            <div class="tagtitle ">How to set an Appointment </div>
        </div>

        <div id="myCarousel" class="carousel carousel-dark slide pb-5 mb-4" data-bs-ride="carousel" data-bs-interval="10000">
            <div class="carousel-indicators mt-4">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">

                    <p>
                        Check our offered services and select what you need.
                    </p>

                </div>

                <div class="carousel-item">

                    <p>
                        Tell us about yourself. Complete the necessary registration information.
                    </p>

                </div>
                <div class="carousel-item">

                    <p>
                        Book your appointment and choose your desired date and time.
                    </p>

                </div>

                <div class="carousel-item">

                    <p>
                        Sort out you payment online, over the counter or via accredited doctor_HMO/insurance.
                    </p>

                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>

        </div>

    </div>
</section>


<section id=services>
    <div class="container pb-5"></div>
    <div class="container pb-2 ">
        <div class="row p-4 mb-4">
            <div class="tagtitle ">Services </div>
            <div class="col-md pt-5  text-center">
                <img src="/assets/OUR-DOCTORS-BG 1.png" img class="img-fluid m-4 mb-5" id="servimg">
                <p class="sertext text-center  ">Outpatient Services</p>
                <p class="sersub">Offers a wide range of services from diagnosis, theraphy, treatments, laboratory tests, ambulatory and home care.</p>

                <a href="/book-appointment/outpatient"><button type="button" class="btn btn-success  mt-2">Set Appointment</button></a>

            </div>

            <div class="col-lg pt-5 pb-3 text-center">
                <img src="/assets/PATIENTS-GUIDE-BG 1.png" alt="" img class="img-fluid m-4 mb-5" id="servimg">
                <p class="sertext text-center ">Private Clinics</p>
                <p class="sersub">Private clinics and doctors and specialists providing medical care.</p>

                <a href="/book-appointment/clinic"><button type="button" class="btn btn-success mt-2 ">Set Appointment</button></a>


            </div>
        </div>
    </div>
</section>

<section id=searchdoctor>
    <div class="container pb-1"></div>
    <div class="container-fluid pb-4 mb-5" id="hbg">
        <div class="row p-4 mb-4 g-2  d-flex justify-content-center ">
            <div class="tagtitle ">Search a Doctor </div>
            <div class=" col-auto pt-3">
                <form action="/doctors-directory#searchdoctor" id="forms">
                    <div class="form-outline l-name ">
                        <input type="search" name="doctor_Lname" class="form-control doctor " placeholder="Doctor's Last Name" aria-label="Search" value="<%=retainDoctorQuery.Lname%>" />
                    </div>
            </div>
            <div class=" col-auto pt-3  ">
                <div class=" form-outline f-name ">
                    <input type="search" name="doctor_Fname" class="form-control doctor" placeholder="Doctor's First Name" aria-label="Search" value="<%=retainDoctorQuery.Fname%>" />
                </div>
            </div>
            <div class="col-auto pt-3">
                <select class="form-select" aria-label="select1" name="specialization" id='specialization_Query'>
                                            <option value="" selected hidden>Select Specialization</option>
                                        
                                        </select>
            </div>
            <div class="col-auto pt-3">
                <select class="form-select" aria-label="select2" name="doctor_HMO" id="HMO_Query">
                                            <option value="" selected hidden>Select HMO Accreditation</option>
        
                                        </select>
            </div>
            <div class="  col-auto pt-3">
                <button type="button " class="btn btn-success btn " style="width: 110px;">Search</button>
                <button type="reset" class="btn btn-success btn me-3 " style="width: 110px; background-color: #FF0000; border-color: #FF0000;">Clear</button>
            </div>
            </form>
        </div>
    </div>
    <%# Generate Doctor Table %>
        <%-include('../partials/doctor.ejs')%>
            <section id=track>
                <div class="container pb-1"></div>
                <div class="container-fluid pb-5 mb-5" id="hbg">
                    <div class="row m-3 pt-4">
                        <div class="tagtitle ">Tracker</div>
                        <p class="tagtitle pt-2" style="font-size: 15px; font-weight: 400; ">Manage and Track your appointment using your Registered Email Address</p>
                        <p class="tagtitle" style="font-size:15px;  ">Email Address</p>

                        <div class="col-md text-center  ">
                            <div class="form-group ">
                                <input type="email" class="form-control container-fluid" style="  width: 40%;
                                 height: 30px;" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>

                            <button type="button" class="btn btn-success mt-3" style="width: 90px;" id="modal-btn">Search</button>

                            <div class="modal fade modal" id="modal" tabindex="-1" aria-labelledby="modlabel" aria-hidden="true" data-bs-backdrop="static">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header align-content-center">
                                            <div class=" col modal-title fs-5">Email Verification</div>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <label class="modal-form">
                                                (OTP) One Time Password has been sent to
                                            </label>
                                            <label class="modal-form" style="font-weight: 600;">
                                                your Email Address
                                            </label>
                                            <p> Please Enter (6) digit code to complete your verification. </p>

                                            <div class=" otp-form  container-fluid text-center">
                                                <input type="text" id="otpInput" class="form-control" style="text-align: center;" />
                                            </div>
                                            <span id="otpError" style="color: red; font-weight: 500; display: none;"> <br>Incorrect OTP PIN, please try again.<br></span>
                                            <label class="label pt-3">OTP is valid for 3 minutes</label>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-success" style="border-radius:10px; background-color:#FF0000; border-color: #FF0000 ;width: 110px" ; data-bs-dismiss="modal" id="cancel_modal">Cancel</button>
                                            <button type="button" class="btn btn-success" style="border-radius:10px ;width: 115px; height: 41px" onclick="trackingCompareOTP(document.getElementById('otpInput').value, document.getElementById('inputEmail').value)">Verify</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade modal" id="error" tabindex="-1" aria-labelledby="modlabel" aria-hidden="true" data-bs-backdrop="static">
                                <div class="modal-dialog  modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="col modal-title fs-5">Invalid E-mail</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <span id="homeEmail" style="font-weight: 500; display: none; margin: 20px;">No record associated with this email.</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </section>
            <section id=FAQs>
                <div class="container pb-4 mb-5">
                    <div class="row m-3 pt-4">
                        <div class="tagtitle ">FAQs</div>
                        <p class="tagtitle " style="font-size: 15px; font-weight: 400" style="text-align:center ;">(Frequently Asked Questions)</p>
                    </div>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    How do you accomodate your patient?
                      </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                                    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat,
                                    odit, tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit, quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                                    recusandae alias error harum maxime adipisci amet laborum. Perspiciatis minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur
                                    fugiat, temporibus enim commodi iusto libero magni deleniti quod quam consequuntur! Commodi minima excepturi repudiandae velit hic maxime doloremque. Quaerat provident commodi consectetur veniam similique ad earum omnis
                                    ipsum saepe, voluptas, hic voluptates pariatur est explicabo fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
                                    modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam quasi aliquam eligendi, placeat qui corporis!</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Can I cancel the appointment?
                      </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                                    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat,
                                    odit, tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit, quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                                    recusandae alias error harum maxime adipisci amet laborum. Perspiciatis minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur
                                    fugiat, temporibus enim commodi iusto libero magni deleniti quod quam consequuntur! Commodi minima excepturi repudiandae velit hic maxime doloremque. Quaerat provident commodi consectetur veniam similique ad earum omnis
                                    ipsum saepe, voluptas, hic voluptates pariatur est explicabo fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
                                    modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam quasi aliquam eligendi, placeat qui corporis!</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Do I need to create an account to book an appointment?
                      </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                                    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat,
                                    odit, tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit, quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                                    recusandae alias error harum maxime adipisci amet laborum. Perspiciatis minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur
                                    fugiat, temporibus enim commodi iusto libero magni deleniti quod quam consequuntur! Commodi minima excepturi repudiandae velit hic maxime doloremque. Quaerat provident commodi consectetur veniam similique ad earum omnis
                                    ipsum saepe, voluptas, hic voluptates pariatur est explicabo fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
                                    modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam quasi aliquam eligendi, placeat qui corporis!</div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>