<div class="container-fluid">
    <div class="row pt-4 pb-4 justify-content-center">
        <div class="tagtitle" style="font-size: 25px; color:rgba(56, 132, 64, 1) ;">My Appointments</div>
    </div>
</div>

<%-include('../partials/patientAppointments')%>