<div class="container-fluid">
    <div class="row mt-4 d-flex justify-content-center ">
        <div class="tagtitle " style="font-size: 25px; color:rgba(56, 132, 64, 1)" ;>Tracker </div>
        <div class="row mt-3 text-center">
            <p style="font-weight: 500;">Manage and Track your appointment using your Registered Email Address</p>
        </div>
        <div class="container mt-2" id="applist">
            <%-include('../partials/Manage-Patients')%>
        </div>
        <div class="row mt-2" style="margin-left:350px; ;">
            <button type="button " class="btn btn-success btn me-3" style="width: 110px; background-color: #FF0000; border-color: #FF0000;" onclick="history.back()">Back</button>
        </div>
        <div class="row text-center">
            <p>With your registered email address, we were able to locate <span style="font-weight: 600;">(<%=queriedPatients.count%>)</span> record/s.</p>
            <p style="font-weight: 600;">click an option to <span style="color: rgba(255, 0, 0, 1);">continue</span></p>
        </div>

    </div>
</div>