<div class="container cbox fcover">
    <div class="row ">
        <div class="col sectag">
            <p style="font-weight: 700; font-size: 30px;  color: #388440; text-align: left;">Making appointments
                <br> easy for you.<img src="/assets/medlogo.png" height="30" style="margin-bottom: 19px;"> </p>

        </div>
        <div class="col logtag">
            <p style="font-family: Montserrat; font-weight: 700; font-size: 26px; color: #24B7E9; text-align: center;">LOGIN</p>
            <div class="center">
                <form action="/admin/login" method="POST">
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control " id="floatingInput" placeholder="username" name="username">
                        <label for="floatingInput">Username</label>
                    </div>
            </div>
            <div class="center">
                <div class="form-floating mt-2">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </div>
            <div class="center mt-5">
                <button type="submit " class="btn btn-success btn " style="width: 110px;">Sign in</button>
            </div>
            </form>
        </div>
    </div>


</div>