<div class="col managemiddleside  ">

    <div class="row mt-5 ms-3">

        <div class="col-2 mt-5 ">
            <div class="box-sizing: border-box; ">
                <p id="secpicture"></p>
            </div>
        </div>
        <div class="col mt-5 ">
            <div class="row mt-5">
                <p style="font-weight: 600;
            font-size: 25px;
            color: #000000;">
                    <%=adminInfo.doctor_Secretary_first_name%>
                        <%=adminInfo.doctor_Secretary_last_name%>
                </p>
            </div>
            <div class="row ">
                <p style="font-weight: 500;
                font-size: 20px;
                color: #000000;">
                    Secretary</p>
            </div>
        </div>
    </div>
    <div class="row center mt-4 mb-4">
        <hr class="mproline">
    </div>

    <div class="row ms-5">
        <div class="col-2 ms-5">
            <p style="font-weight: 600;
        font-size: 21px;
        color: #000000;">
                General</p>
        </div>
        <div class="col  ">
            <div class="row">
                <label style="font-weight: 500;
                font-size: 20px;
                color: #000000;">
                <a href="update-profile">Manage Profile</a></label>
            </div>
            <div class="row mt-2">
                <p style="font-weight: 400;
                font-size: 17px;
                color: #000000;">
                    Change your profile information and other options. </p>
            </div>
            <div class="row center mt-4 mb-4">
                <hr class="downline">
            </div>
            <div class="row">
                <label style="font-weight: 500;
                    font-size: 20px;
                    color: #0f0f0f;">
                     <a href="update-security">Security</a></label>
            </div>
            <div class="row mt-2">
                <p style="font-weight: 400;
                font-size: 17px;
                color: #848484;">
                    Change your password for better security. </p>
            </div>
        </div>

    </div>

</div>