<div class="col managemiddleside  ">

    <div class="row mt-5 ms-3">

        <div class="col-2 mt-5 ">
            <div class="box-sizing: border-box; ">
                <p id="secpicture"></p>
            </div>
        </div>
        <div class="col mt-5 ">
            <div class="row mt-5">
                <p style="font-weight: 600;
            font-size: 25px;
            color: #000000;">
                    <%=adminInfo.doctor_Secretary_first_name%>
                        <%=adminInfo.doctor_Secretary_last_name%>
                </p>
            </div>
            <div class="row ">
                <p style="font-weight: 500;
                font-size: 20px;
                color: #000000;">
                    Secretary</p>
            </div>
        </div>
    </div>
    <div class="row center mt-4 mb-4">
        <hr class="mproline">
    </div>

    <div class="row ms-5">
        <div class="col-2 ms-5">
            <p style="font-weight: 600;
        font-size: 21px;
        color: #000000;">
                Manage Profile</p>
        </div>
    </div>

    <div class="row container mt-4 " style="margin-left: 180px;padding-right: 290px;">
        <div class="col">
            <p style="font-weight: 400;
                font-size: 17px;
                color: #000000;">
                Edit Name:
            </p>
        </div>
        <div class="col ">
            <input type="text" class="form-control text-center edituserp " name="Fname">
            <label class=" mt-3 center edittag">First Name</label>
        </div>
        <div class="col">

            <input type="text" class="form-control text-center edituserp" name="Mname">
            <label class="edittag mt-3 center">Middle Name</label>

        </div>
        <div class="col">
            <input type="text" class="form-control text-center edituserp" name="Lname">
            <label class="edittag mt-3 center">Last Name</label>

        </div>
    </div>

    <div class=" row" style="margin-left: 1250px;margin-top: 90px;margin-bottom: auto; margin-right: auto;">
        <button type="button " class="btn btn-success btn " style="width: 140px;" id="upProfile">Save Changes</button>
    </div>
</div>

</div>


</div>