<div class="container adcbox adfcover">
    <div class="row ">
        <div class="col adsectag">
            <p style="font-family: Inter; font-weight: 700; font-size: 28px;  color: #FFFFFF; text-align: left;">Making appointments
                <br> easy for you.<img src="/assets/medlogo.png" height="40" style="margin-bottom: 19px;"> </p>
        </div>
        <div class="col adlogtag">
            <div class="box-sizing: border-box;">
                <p id="adpicture">A</p>
            </div>
            <div class="center">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control " id="adfloatingInput" placeholder="Username" name="username" required>
                    <label for="adfloatingInput" id="adusnamelabel">Username</label>
                </div>
            </div>
            <div class="center">
                <div class="form-floating mt-2">
                    <input type="password" class="form-control" id="adfloatingPassword" placeholder="Password" name="password" required>
                    <label for="adfloatingPassword" id="adspasslabel">Password</label>
                </div>
            </div>
            <div class="center mt-5">
                <button type="submit" class="btn btn-success btn" id="adsignin">Login</button>
            </div>
        </div>
    </div>
</div>